* {
  overflow-y: auto;
}
.reloadBtn {
  padding-bottom: 8px;
}
form{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2%;
 
}
wcs-card{
padding: 1%;
  margin: 2%;
}
main-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
}
wcs-grid-pagination{
  padding: 1%;
}
wcs-select{
  width: 400px;
}
hr{
  margin-top: 2%;
  margin: 2%;
}
.category-select {
  margin-top: 1%;
  margin-bottom: 1%;
}