
<div class="main-container">
<wcs-card mode="raised">
  <h4>Tableau de données modulables</h4>
  <wcs-card-body>
<wcs-grid id="grid-1" [data]="users" selection-config="multiple">
  <ng-container *ngFor="let column of columns">
    <wcs-grid-column [path]="column.path" [name]="column.name" [sort]="column.sort" (wcsSortChange)="onSortChange($event)"></wcs-grid-column>

  </ng-container>
  <wcs-grid-pagination [availablePageSizes]="[5, 10, 15, 20]" [pageSize]="pageSize"></wcs-grid-pagination>
</wcs-grid>

<hr>

<form (submit)="createTable()" [formGroup]="createColumnsForm">
  <label>
    Colonne:
    <input type="text" formControlName="columnName" required>
  </label>
  <label>
    Champs:
    <select formControlName="pathType" required>
      <option *ngFor="let type of pathTypes" [value]="type">{{ type }}</option>
    </select>
  </label>


  <button type="submit">Créer</button>
  <button type="button" (click)="closeTableCreationForm()">Annuler</button>
</form><hr>
<wcs-button shape="small" class="reloadBtn" (click)="reloadLessData()">Reload</wcs-button>
</wcs-card-body>
</wcs-card></div>