<h2>Tableau</h2>

<wcs-button shape="small" class="reloadBtn" (click)="reloadLessData()">Reload</wcs-button>

<wcs-grid id="grid-1" [data]="users" selection-config="multiple">
  <ng-container *ngFor="let column of columns">
    <wcs-grid-column [path]="column.path" [name]="column.name" [sort]="column.sort" (wcsSortChange)="onSortChange($event)"></wcs-grid-column>
  </ng-container>
</wcs-grid>

<!-- Bouton pour ouvrir le formulaire de création de colonnes -->
<wcs-button shape="small" class="createBtn" (click)="createNewColumns()">Create Columns</wcs-button>
