.reloadBtn {
  padding-bottom: 8px;
}
form{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2%;
 
}
wcs-card{
padding: 1%;
  margin: 3%;
}
main-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
}
wcs-grid-pagination{
  padding: 1%;
}
hr{
  margin-top: 2%;
  margin: 5px;
}
.category-select{
  margin: 2%;
}