.left-slider {
  position: fixed;
  top: 0;
  padding-top: 60px;
  left: -255px;
  width: 255px;
  height: 100%;
  background-color: #1E173C;
  transition: left 0.3s ease;
}

.toggle-button {
  position: absolute;
  top: 40%;
  left: 255px; 
  background-color: white;
  border: none;
  padding: 6px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  background-color: #1E173C;
}
p{
  color: white;
  background-color: #1E173C;
}
h2, h4 {
  padding-top: 5%;
  padding-left: 5%;
  color: white;
}
*{
  z-index: 1;
}
.tableName {
  margin-top: 8%;
  margin-left: 20%;
  
}